# Виртуальное окружение
.venv/
venv/

# Кэш Python
__pycache__/
*.py[cod]

# Секреты и переменные окружения
.env

# Файлы IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Логи
*.log